#story {
  display: none;
}

.bigletters {
  text-transform: uppercase;
}

.options {
  float: left;
  margin-left: 25px;
}

#letter {
  display: none;
}

.fancy {
  font-style: italic;
  font-weight: bold;
  color: purple;
}
